<%- include('./partials/header'); %>
    <main>
      <section class="blacklist_section">
        <article class="blacklist">
          <form action="/updateblacklistitem/<%=keuze%>" method="post">
            <p><%= blacklist[keuze].quote %></p>
            <textarea
              id="blacklistReden"
              name="blacklistReden"
              rows="4"
              cols="50"
              placeholder="Geef een reden voor de blacklist"
              required
            >
<%= blacklist[keuze].reden %></textarea
            >
            <br /><button type="submit">Submit</button>
          </form>
        </article>
      </section>
    </main>
    <%- include('./partials/footer'); %>
  </body>
</html>
