<%- include('./partials/header'); %>
    <main>
      <section class="blacklist_section">
        <article class="blacklist">
          <table class="blacklist-table">
            <tr>
              <th>Quote</th>
              <th>Reden</th>
              <th>Verwijder</th>
            </tr>
            <% for(let i = 0;i<blacklist.length;i++){ %>
             <%- '<tr>' %>
                <%- '<td><a href="/blacklistItem/' + i + '">' + blacklist[i].quote + '</a></td>' %>
                <%- '<td class="reden"><p>' + blacklist[i].reden + '</p></td>' %>
                <%- '<td><a href="/removeblacklistitem/' + i + '"><input type="submit" value="Verwijder"/></a></td>' %>
              <% '</tr>' %>
            <% } %>
          </table>
        </article>
    </section>
    </main>
    <%- include('./partials/footer'); %>