<%- include('./partials/header'); %>
    <main>
      <section class="favorites_section">
      <article class="favorites">    
        <table class="favorites-table">
          <tr>
            <th>Quote</th>
            <th>Character</th>
            <th>Verwijder</th>
          </tr>
          <% for(let i = 0;i<favorites.length;i++){ %>
            <%- '<tr>' %>
              <%- '<td>' + favorites[i].quote + '</td>' %>
              <%- '<td><a href="https://lotr.fandom.com/wiki/' + favorites[i].character + '">' + favorites[i].character + '</a></td>' %>
              <%- '<td><a href="/removefavorite/' + i + '"><input type="submit" value="Verwijder"/></a></td>' %>
            <%- '</tr>' %>
          <% } %>
        </table>
        <form action="printFavorites" method="post">
        <button type="submit">Print favorites</button>
        </form>
      </article>
    </section>
    </main>
    <%- include('./partials/footer'); %>