<%- include('./partials/header'); %>
    <main>
      <section class="highscore_section">
      <article class="blacklist">
        <table class="blacklist-table">
        <a href="/highscore?filter=tienRonden"><input type="submit" value="Toon Tien Ronden Quiz"/></a>
        <a href="/highscore?filter=suddenDeath"><input type="submit" value="Toon Sudden Death Quiz"/></a>
        <a href="/highscore"><input type="submit" value="Toon alles"/></a>
          <tr>
            <th>Speler</th>
            <th>Score</th>
          </tr>
          <% if(highscores.length < 10){ %>
          <% for(let i = 0;i<highscores.length;i++){ %>
            <%- '<tr>' %>
              <%- '<td>' + highscores[i].username + '</td>' %>
              <%- '<td>' + highscores[i].score + '/' + highscores[i].rounds + '</td>' %>
            <% '</tr>' %>
          <% } %>
          <% }else{ %>
            <% for(let i = 0;i<10;i++){ %>
                <%- '<tr>' %>
                  <%- '<td>' + highscores[i].username + '</td>' %>
                  <%- '<td>' + highscores[i].score + '</td>' %>
                <% '</tr>' %>
            <% } %>          
           <% } %>
        </table>
      </article>
    </section>
    </main>
    <%- include('./partials/footer'); %>